<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Llista d'Usuaris</title>
        <link rel="stylesheet" href="/styles/userListStyles.css">
        <link rel="stylesheet" href="/styles/userTable.css">
        <link rel="stylesheet" href="/styles/sideBarStyle.css">
    </head>
    <body>

        <!-- Botó per obrir/tancar la barra lateral -->
        <button id="toggle-sidebar">☰</button>

        <main class="content">
            <header class="user-list-header">
                <h1>Llista d'Usuaris</h1>
                <button class="btn-create" onclick="location.href = '/users/create'">➕ Crear usuari</button>
            </header>

            <section class="table-section">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Imatge</th>
                                <th>Correu</th>
                                <th>Nom</th>
                                <th>Cognoms</th>
                                <th>Població</th>
                                <th>Telèfon</th>
                                <th>Rol</th>
                                <th>Balanç</th>
                                <th>Accions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Iterem sobre la llista d'usuaris -->
                            <tr th:each="user : ${users}">
                                <td>
                                    <img th:if="${user.image != null}" th:src="@{'data:image/jpeg;base64,' + ${user.imageBase64}}" class="user-image" alt="Imatge de perfil"/>
                                    <img th:if="${user.image == null}" src="/images/BlankProfilePic.png" class="user-image" alt="Imatge per defecte"/>
                                </td>
                                <td th:text="${user.mail}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.surnames}"></td>
                                <td th:text="${user.population}"></td>
                                <td th:text="${user.phone_number}"></td>
                                <td th:text="${user.role.name()}"></td>
                                <td th:text="${user.balance}"></td>
                                <td>
                                    <a th:href="@{/users/edit/{mail}(mail=${user.mail})}" class="btn btn-edit">✏️ Editar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>

        <script src="/scripts/sidebar.js"></script>
    </body>
</html>
