* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    height: 100vh;
    background-color: #EEF4F2;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEF4F2;
    position: relative;
}
.logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #166C4E;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
.logout-btn:hover {
    background-color: #27C08A;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 500px;
}
.logo h1 {
    color: #0e6837;
    font-size: 48px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    .logout-btn {
        font-size: 12px;
        padding: 8px 12px;
    }
}