body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    margin-left: 250px; /* espacio para el sidebar */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* o center si lo quieres verticalmente centrado también */
    min-height: 100vh;
}

h1 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #0e6837;
    text-align: center;
    width: 100%;
}

/* Contenedor principal */
.system-form-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin-top: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Etiquetas i camps */
.system-form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #166C4E;
}

.system-form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Botó Desar */
.btn-save {
    background-color: #166C4E;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.btn-save:hover {
    background-color: #27C08A;
}

/* Missatge d'èxit */
.success-message {
    text-align: center;
    color: green;
    margin-top: 20px;
    font-weight: bold;
}
